body {
    margin: 0;
    padding: 0;
    background-color: #0D1321;
}

header {
    background-image: linear-gradient(#1D2D44, #0D1321);
    background-color: #1D2D44;
    color: white;
    text-align: center;
}

@font-face {
    font-family: 'cascadia-code';
    src: url(../assets/woff2/CascadiaCode.woff2);
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding: 15px;
}

.navbar-element{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    width: 100px;
    height: 40px;
    background-color: #0D1321;
    box-shadow: -3px -4px #3E5C76;
    border-radius: 4px;
}

.nav-text{
    font-weight: 200;
    font-family: 'cascadia-code';
    color: white;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
    text-align: center;
}

h1, h2{
    font-family: 'cascadia-code';
    color: white;
}

h1 {
    padding-bottom: 50px;
}

a, a:visited{
    color: #F0EBD8;
    text-decoration: none;
    font-weight: 100;
}

.link{
    animation: shake 2.0s infinite;
    display: inline-block;
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    5% { transform: rotate(2deg); }
    10% { transform: rotate(-2deg); }
    20% { transform: rotate(0deg); }
  }
